<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
    <h1 class="col-6 offset-3 mt-2">Login to WanderLust</h1>
    <div class="col-6 offset-3 mt-2">
        <form action="/login" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Enter Your Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter a username.</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Enter Your Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Enter a password.</div>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Login</button>
        </form>
    </div>
</div>
